body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#color {
  transition: background-color 1000ms linear;
}

.page_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

/*
*
* switch activator
*
*/
.switch_activator {
  border-radius: 0.5rem;
  max-width: 50rem;
  padding: 3rem;
}

.activator_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activator_header {
  margin-bottom: 2rem;
}

.math_question {
  margin-bottom: 2rem;
}

.answer_input {
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.answer_button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*
*
* color switch
*
*/
.button_switch {
  border-radius: 50%;
  padding: 4rem;
  cursor: pointer;
}

.button_smile {
  display: none;
}

/* red switch */
.red_switch {
  display: none;
}

.red_button_switch {
  border: none;
}

@media screen and (max-width: 250px) {
  body {
    align-items: initial;
  }

  .switch_activator {
    margin-top: 5rem;
  }
}
